*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}
h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
}

.split {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  & > * {
    flex-basis: 30%;
    min-width: 15em;
  }
}

section {
  padding: 7em 0;
}

.spacing > * + * {
  margin-top: var(--spacer, 2rem);
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1.125em;
  color: var(--clr-text, white);
  padding: 0.5em 1.125em;
  font-weight: 700;
  background-color: var(--clr-accent, blue);
  border-radius: 0.25em;
  text-transform: uppercase;
  transition: transform 250ms ease-in-out, opacity 250ms linear;
}
.btn:hover,
.btn:focus {
  transform: scale(1.1);
  opacity: 0.9;
}

.primary-title {
  font-size: 4rem;
  font-size: clamp(3rem, calc(5vw+1rem), 4.5rem);
  line-height: 1;
  text-transform: uppercase;
}

.section-title {
  text-align: center;
  font-size: clamp(2.5rem, calc(5vw+1rem), 4rem);
  line-height: 1;
  color: #17353d;
  margin-bottom: 5rem;
}

.hero {
  text-align: center;
  color: white;
  padding: 15em 0;
  background: #222;

  @supports (background-blend-mode: multiply) {
    background: url(../img/bg.png), radial-gradient(#444, #111111);
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: multiply;
    background-attachment: fixed;
  }
}

.featured {
  background-color: rgba(212, 205, 205, 0.933);
  &__item {
    display: block;
    position: relative;
    transform: scale(0.75);
    transition: transform 250ms ease-in-out;
    text-decoration: none;
    color: #333;
    text-align: center;
    line-height: 1.2;

    &:hover,
    &:focus {
      transform: scale(1);
      .featured__details {
        opacity: 1;
        text-shadow: 0 0 2em rgba(white, 1);
      }
    }
    &::after {
      content: "";
      top: 5%;
      left: 10%;
      position: absolute;
      padding: 75% 75% 0 0;
      border-radius: 50%;
      background: #2193b0;
      z-index: -1;
    }
  }
  &__details {
    opacity: 0;
    transition: opacity 250ms linear;
    span {
      display: block;
      font-size: 2.5rem;
      font-weight: 700;
    }
  }
}

.product {
  background: radial-gradient(
    var(--clr-inner, limegreen),
    var(--clr-outer, purple)
  );
  padding: 3em 0;
  border-radius: 1em;
  margin-bottom: 3em;
  text-align: center;
  &__title {
    text-transform: uppercase;
    font-size: 3rem;
    color: #fff;
    line-height: 1;
    text-shadow: 0 0 0.2em rgba(#000, 0.2);
  }
  &__img {
    margin: -5em 0 0 0;
  }
  @media (min-width: 45em) {
    &__img {
      float: right;
      width: 40%;
      shape-outside: url(../img/img4.png);
      shape-outside: url(../img/img5.png);
      shape-outside: url(../img/img6.png);
      shape-margin: 1em;
    }
  }
}

.hero {
  --clr-accent: #faa700;
}

.shoe_1 {
  --clr-inner: #faa700;
  --clr-outer: #e48d00;
  --clr-accent: #a1173c;
}
.shoe_2 {
  --clr-inner: #fce4b3;
  --clr-outer: #eac886;
  --clr-accent: #2f4858;
}
.shoe_3 {
  --clr-inner: #6dd5ed;
  --clr-outer: #2193b0;
  --clr-accent: #008951;
}
